@model IEnumerable<BLL.Models.UserBll>
@inject ReseauSocial.Asp.Sessions.ISessionHelpers sessionManager
@inject BLL.Interfaces.IUserBllService userService


@{
    ViewData["Title"] = "Index";
    var curentUser = userService.GetUser(sessionManager.CurentUser.Id);
}


<h1>Messages</h1>

<div>
    <div class="sticky-top bg-light row" id="HeaderPanel">
        <div class="col-4">
            <button id="NewMessageButton" class="btn btn-primary">Nouveau message</button>
        </div>
        <div class="col-8">
            <h3 class="m-4">Bienvenu @curentUser.LastName @curentUser.FirstName</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class=" list-group " role="tablist" id="listContact"></div>
                <div class=" list-group  " role="tablist" id="listUsers" style="display:none"></div>
            </div>
            

            

            <div class="col-8 ">
                <div>
                    <form>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <input name="message" type="text" class="form-control" id="message" placeholder="Votre message">
                        </div>
                        <button id="submitButton" type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
                <div>
                    <h4 id="messageTitle" class="m-2"></h4>
                    <ul id="listMessage" class=" m-2 list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var curentUserId = parseInt(@sessionManager.CurentUser.Id.ToString());
    var otherUserId = -1;  @*parseInt(@Model.Id.ToString());*@
</script>
<script src="~/js/dist/browser/signalr.js"></script>
<script src="~/js/MessageHub.js"></script>